body {
  font-family: 'Noto Sans', sans-serif;
}


.footer .icon-link {
    font-size: 25px;
    color: #000;
}

.link-block a {
    margin-top: 5px;
    margin-bottom: 5px;
}

.dnerf {
  font-variant: small-caps;
}


.teaser .hero-body {
  padding-top: 0;
  padding-bottom: 3rem;
}

/* .video-container {
  position: relative;
  width:100%;
} */


.teaser {
  font-family: 'Google Sans', sans-serif;
}


.publication-title {
}

.publication-banner {
  max-height: parent;

}

.publication-banner video {
  position: relative;
  left: auto;
  top: auto;
  transform: none;
  object-fit: fit;
}

.publication-header .hero-body {
}

.publication-title {
    font-family: 'Google Sans', sans-serif;
}

.publication-authors {
    font-family: 'Google Sans', sans-serif;
}

.publication-venue {
    color: #555;
    width: fit-content;
    font-weight: bold;
}

.publication-awards {
    color: #ff3860;
    width: fit-content;
    font-weight: bolder;
}

.publication-authors {
}

.publication-authors a {
   color: hsl(204, 86%, 53%) !important;
}

.publication-authors a:hover {
    text-decoration: underline;
}

.author-block {
  display: inline-block;
}

.publication-banner img {
}

.publication-authors {
  /*color: #4286f4;*/
}

.publication-video {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    overflow: hidden;
    border-radius: 10px !important;
}

.publication-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.publication-body img {
}

.results-carousel {
  overflow: hidden;
}

.results-carousel .item {
  margin: 0 auto;
  overflow: hidden;
  padding: 20px;
  font-size: 0;
  width: 100%;
}

.results-carousel video {
  margin: 0 auto;
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-container video {
  width: 24%; /* Each video takes up 25% of the container */
  max-width: 100%; /* Ensure videos don't exceed their container */
  height: auto; /* Maintain aspect ratio */
}

.video-container img {
  width: 24%; /* Each video takes up 25% of the container */
  max-width: 100%; /* Ensure videos don't exceed their container */
  height: auto; /* Maintain aspect ratio */
}


.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.col-md-4 {
  margin-left: 300px;
  width: 28%; /* Each video takes up 25% of the container */
  max-width: 100%; /* Ensure videos don't exceed their container */
  height: auto; /* Maintain aspect ratio */
  display: inline-block;
  text-align: center;
}

.col-md-4 img{
  height: auto;
  position: relative;
  top: -35px;
}

.col-md-8 {
  margin: 20px;
  width: 30%; /* Each video takes up 25% of the container */
  max-width: 100%; /* Ensure videos don't exceed their container */
  height: auto; /* Maintain aspect ratio */
  display: inline-block;
}


.disable-scrollbars::-webkit-scrollbar {
  background: transparent; /* Chrome/Safari/Webkit */
  width: 0px;
}
    
.disable-scrollbars {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE 10+ */
}

.slider-pagination .slider-page {
  background: #000000;
}

.eql-cntrb { 
  font-size: smaller;
}



.img-container {
  display: inline-block;
}

.image-slider img{
  width: 30%;
  height: auto; /* Maintain aspect ratio */
  text-align: center;
  margin: auto;
}


.image-slider .slider {
  width: 30%;
  text-align: center;
  margin: auto;
}

.image-slider {
  display: flex;
  flex-direction: column;
  align-items: center;
}